@model PortalDataPresentation.ViewModels.LineChartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
    <br />
<h2>Measurements for @Model.Data.First().DataTypeKeyName</h2>

<div class="col-md-6; col-lg-12">
    @await Html.PartialAsync("RefreshTable", Model.Data)
</div>
<div class="col-md-6; col-lg-12">
    @await Html.PartialAsync("LineChart", Model)
</div>



